.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height of the container to 100% of the viewport height */
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  gap: 5px;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: #caa7a7;
  border-radius: 10px;
}

.candy-0 {
  background-color: #a83939; /* Red */
}

.candy-1 {
  background-color: #2c7e2c; /* Green */
}

.candy-2 {
  background-color: #42429b; /* Blue */
}

.candy-3 {
  background-color: #969620; /* Yellow */
}

.candy-4 {
  background-color: #b163b1; /* Purple */
}

.cell.selected {
  border: 2px solid rgb(19, 19, 18); /* Example: Highlight with a yellow border */
}

.score {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.title {
  text-align: center;
  margin-bottom: 650px;
}

