/* Updated styles for centering the GameRoom component */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: auto; /* Add vertical scrollbar if content overflows */
}

/* The rest of your existing styles */
.tabs-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

/* Style for the tab buttons */
.tab-button {
  padding: 15px 30px; /* Increase padding */
  background-color: #eee;
  border: 2px solid #ccc; /* Increase border width */
  cursor: pointer;
  font-size: 18px; /* Increase font size */
}

/* Style for the active tab button */
.tab-button.active {
  background-color: #3498db;
  color: #fff;
}

/* Container for tab content */
.tab-content {
  padding: 30px; /* Increase padding */
  border: 2px solid #ccc; /* Increase border width */
  box-sizing: border-box;
  font-size: 16px; /* Increase font size */
}

/* Additional styling for individual tabs (customize as needed) */
.tab1-content {
  background-color: #f9f9f9;
}

.tab2-content {
  background-color: #fafafa;
}
