/* Updated styles for centering the GameRoom component */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  overflow-y: auto; /* Add vertical scrollbar if content overflows */
}

/* The rest of your existing styles */
.tabs-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

/* Style for the tab buttons */
.tab-button {
  padding: 15px 30px; /* Increase padding */
  background-color: #eee;
  border: 2px solid #ccc; /* Increase border width */
  cursor: pointer;
  font-size: 18px; /* Increase font size */
}

/* Style for the active tab button */
.tab-button.active {
  background-color: #3498db;
  color: #fff;
}

/* Container for tab content */
.tab-content {
  padding: 30px; /* Increase padding */
  border: 2px solid #ccc; /* Increase border width */
  box-sizing: border-box;
  font-size: 16px; /* Increase font size */
  
}

/* Additional styling for individual tabs (customize as needed) */
.tab1-content {
  background-color: #85bdd6;
  color: #080707;
}

.tab2-content {
  background-color: #85bdd6;
}

/* Styles for input fields */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

/* Styles for buttons inside the Teacher tab */
.tab2-content button {
  cursor: pointer;
  font-size: 16px;
  padding: 15px 30px; /* Adjust button size */
  margin-right: 15px; /* Add space between buttons */
}

/* Different colors for each button */
.tab2-content button:nth-child(1) {
  background-color: #ffcc00; /* Yellow */
  border: 1px solid #b38600; /* Dark Yellow */
}

.tab2-content button:nth-child(2) {
  background-color: #ff6666; /* Red */
  border: 1px solid #b32424; /* Dark Red */
}

.tab2-content button:nth-child(3) {
  background-color: #99ff99; /* Green */
  border: 1px solid #00b300; /* Dark Green */
}

.tab2-content button:nth-child(4) {
  background-color: #66b3ff; /* Blue */
  border: 1px solid #004080; /* Dark Blue */
}

.tab2-content button:nth-child(5) {
  background-color: #ff99cc; /* Pink */
  border: 1px solid #b3598c; /* Dark Pink */
}

/* Hover styles for all buttons */
.tab2-content button:hover {
  background-color: #3498db;
  color: #fff;
}

.continue-button-container {
  position: fixed;
  bottom: 160px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
}

.continue-button {
  background-color: #4173a1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.continue-button:hover {
  background-color: #1b60bb;
}

.continue-button:disabled {
  background-color: #aaaaaa;
  cursor: not-allowed;
}





