.certificate-container {
  text-align: center;
  position: relative;/* Set position to relative for button positioning */
  margin-top: 0%;
}


.download-button {
  background-color: blue;
  color: white;
  border: 3px solid #000;
  padding: 10px 20px;
  position: absolute; /* Position the button */
  bottom: 20px; /* Distance from bottom of the container */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
}



.certificate {
  margin-top: 5vh;
  margin-bottom: 10vh;
  display: inline-block;
  border: 2px solid #000; /* Border around the certificate */
  padding: 10px; /* Padding inside the border */
  height: auto;
}

.certificate-image {
  max-width: 800px; /* Adjust as needed */
  height: 600px;;
  margin-top: 0vh;
  margin-bottom: 0vh;
}
