.create-roadmap-container {
  width: 100%;
  height: auto;
  background-image: url('https://i.gifer.com/PVtR.gif');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 60%;
  height: min-content;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 20px; /* Increase margin bottom */
}

.label {
  display: block;
  margin-bottom: 10px; /* Adjust margin bottom */
  font-weight: bold;
  font-size: 18px; /* Increase font size */
  color: black;
}

h3 {
  font-weight: bold;
  font-size: 24px; /* Increase font size */
  margin-bottom: 15px; /* Adjust margin bottom */
}

.input,
.textarea {
  width: 100%;
  padding: 12px; /* Increase padding */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px; /* Increase border radius */
  margin-bottom: 15px; /* Adjust margin bottom */
}

.textarea {
  resize: vertical;
}

.steps {
  margin-top: 30px; /* Increase margin top */
}

.step {
  margin-bottom: 20px; /* Increase margin bottom */
}

.step input,
.step textarea {
  margin-bottom: 15px; /* Adjust margin bottom */
}

.add-link-button,
.delete-step-button {
  background-color: #5997d9;
  color: #fff;
  border: none;
  padding: 12px 34px; /* Increase padding */
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.delete-step-button {
  background-color: #ec2d2d;
  color: #fff;
  border: none;
  padding: 12px 34px; /* Increase padding */
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.add-step-button,
.submit-button {
  background-color: #b02bb5;
  color: #fff;
  border: none;
  padding: 12px 24px; /* Increase padding */
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.submit-button {
  background-color: #5da321;
  color: #fff;
  border: none;
  padding: 12px 24px; /* Increase padding */
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.add-link-button:hover,
.delete-step-button:hover,
.add-step-button:hover,
.submit-button:hover {
  opacity: 1.0;
}
.add-link-button {
  margin-right: 30px; /* Add margin between add link and delete buttons */
}