.own-mindmap-container {
  width: 100vw; /* Adjust the width to cover the entire viewport */
  height: 100vh; /* Adjust the height to cover the entire viewport */
  margin: 0;
  padding: 20px;
  background-image: url('https://i.gifer.com/PVtR.gif');
  background-size: cover; /* Ensure the background covers the entire container */
  background-position: center; /* Center the background */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  border-radius: 0; /* Remove border radius */
  box-shadow: none; /* Remove box shadow */
}


.own-mindmap-container h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #ffffff;
}


/* Input and textarea styles */
.own-mindmap-container input[type="text"],
.own-mindmap-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

/* Button styles */
.own-mindmap-container button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.own-mindmap-container button:hover {
  background-color: #45a049;
}

/* List styles */
.own-mindmap-container ul {
  list-style-type: none;
  padding: 0;
}

/* List item styles */
.own-mindmap-container li {
  margin-bottom: 10px;
}

/* Span styles */
.own-mindmap-container li span {
  font-weight: bold;
}

/* Button inside list item styles */
.own-mindmap-container li button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.own-mindmap-container li button:hover {
  background-color: #e53935;
}

/* Edit button styles */
.own-mindmap-container li button.edit-button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #2196f3;
  color: white;
}

/* Delete button styles */
.own-mindmap-container li button.delete-button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
}
