.certificate-container {
  text-align: center;
}

.certificate {
  display: inline-block;
  border: 2px solid #000; /* Border around the certificate */
  padding: 10px; /* Padding inside the border */
}

.certificate-image {
  width: 100%; /* Adjust as needed */
  height: auto;
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}
