.the-image-section {
    width: 35%;
    height: 200px;
    display: flex;
}

/* Styles for images inside the image section */
.the-image-section img {
    height: 100%;
    width: 80%;
    object-fit: cover;
}

.the-blog-container {
    width: 100%;
    display: flex;
    margin-top: 2rem;
}
