.certification-container {
    text-align: center;
    margin-top: 50px; /* Adjust the margin as needed */
  }
  
  .image-frame {
    border: 5px solid #000; /* Adjust border width and color */
    display: inline-block;
    padding: 10px; /* Adjust padding as needed */
  }
  
  .image-frame img {
    max-width: 100%;
    height: auto;
  }
  