.the-register-container{
    background-image: url('../../assets/images/pexels-felix-mittermeier-956999.jpg');
    background-size: cover;
}

.register-heading {
    font-size: 36px; /* Adjust the font size as needed */
  }
  
  .login-link {
    font-size: 20px; /* Adjust the font size as needed */
  }
  