.tab-container {
  display: flex;
}

.tab {
  flex: 1; /* Use flex property to evenly distribute the width */
  padding: 20px;
  margin: 5px;
  cursor: pointer;
  border: 2px solid #4caf50;
  border-radius: 8px;
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.tab.active {
  background-color: #4caf50;
  color: #fff;
  border-color: #4caf50;
}

.tab-content {
  margin-top: 10px;
}
