.logo-box{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.the-main-navbar{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 80rem;
    margin-left: 13%;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container{
    z-index: 10;
    right: 0px;
    left: 0px;
    top: 0px;
    position: fixed;
    background-color: rgb(0, 0, 0);
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.navItems{
    transition: 1s;
}

.navItems:hover{
    color: rgb(0, 68, 255);
}